.social{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px 40px;
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
  background-color: #9f9acf;
  @include breakpoint(xs){
    display: none;
  }
  &__item{
    margin-right: rem-calc(13);
    width: rem-calc(32);
    height: rem-calc(32);
    position: relative;
    border-radius: 20px;
    text-align: center;
    transition: all .3s ease;
    background-color: $white-color;
    @include breakpoint(xs){
      margin-right: rem-calc(5);
      width: rem-calc(20);
      height: rem-calc(20);
      border-radius: 10px;
    }
  }
  &__link{
    line-height: rem-calc(13);
    color: #9f9acf;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &__link:hover{
    color: $black-color;
  }
}